#cls {
  width: 19vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: 20px;
}

#clc {
  justify-content: space-between;
}

#cltable {
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  width: 99w;
  height: 250px;
  display: flex;
  margin: 5px;
}

th {
  padding: 0vw 4.3vw 0vw 4.3vw;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  color: #757575;
}

.cltr {
  height: 50px;
  display: flex;
  margin: 5px;
  margin-left: -1px;
}

.tabledata {
  padding: 0vw 4.3vw 0vw 4.3vw;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  margin-top: 15px;
  font-size: 12px;
}

#tabledata11 {
  padding: 0vw 4.3vw 0vw 5vw;
}

#tabledata12 {
  padding: 0vw 4.3vw 0vw 2vw;
}

#tabledata13 {
  padding: 0vw 4.3vw 0vw 6.8vw;
}

#tabledata14 {
  padding: 0vw 4.3vw 0vw 2.5vw;
}

#tabledata15 {
  padding: 0vw 4.3vw 0vw 5.5vw;
}

#tabledata16 {
  padding: 0vw 4.3vw 0vw 8.4vw;
}

#tabledata17 {
  padding: 0vw 4.3vw 0vw 4vw;
}

.status1 {
  border: blue solid 1px;
  background-color: rgb(95, 142, 243);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  width: 60px;
  height: 18px;
  border-radius: 10px;
  text-align: center;
}

.status2 {
  border: rgb(0, 0, 0) solid 1px;
  background-color: rgb(173, 173, 173);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  width: 60px;
  height: 18px;
  border-radius: 10px;
  text-align: center;
}

.status3 {
  border: rgb(0, 143, 10) solid 1px;
  background-color: rgb(119, 236, 84);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  width: 60px;
  height: 18px;
  border-radius: 10px;
  text-align: center;
}

.status4 {
  border: rgb(138, 1, 1) solid 1px;
  background-color: rgb(239, 70, 70);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  width: 60px;
  height: 18px;
  border-radius: 10px;
  text-align: center;
}

@media (max-width: 1075px) {
  th {
    padding: 0vw 3vw 0vw 3vw;
  }
  #tabledata11 {
    padding: 0vw 4.3vw 0vw 1.5vw;
  }
  #tabledata12 {
    padding: 0vw 4.3vw 0vw 0vw;
  }
  #tabledata13 {
    padding: 0vw 4.3vw 0vw 3.5vw;
  }
  #tabledata14 {
    padding: 0vw 4vw 0vw 0.1vw;
  }
  #tabledata15 {
    padding: 0vw 4.3vw 0vw 3vw;
  }
  #tabledata16 {
    padding: 0vw 4.3vw 0vw 7.3vw;
  }
  #tabledata17 {
    padding: 0vw 4.3vw 0vw 1vw;
  }
}
@media (max-width: 975px) {
  #tabledata16 {
    padding: 0vw 0vw 0vw 8vw;
  }
  #tabledata17 {
    padding: 0vw 4.3vw 0vw 8vw;
  }
}
#sec2 {
  display: flex;
  border-bottom: 1px solid #c9c9c9;
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: -8px;
  justify-content: space-between;
}

#sec1 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c9c9c9;
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: -8px;
}

.boxcontain {
  display: flex;
  flex-direction: row;
}

.innerbox0 {
  flex-wrap: wrap;
  display: flex;
  border-radius: 5px;
  border: 1px solid #c9c9c9;
  width: 25%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 5px;
  min-width: 189px;
}

.innerbox1 {
  width: 30px;
  height: 30px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  margin: 5px;
}

.title {
  margin-top: 10px;
  justify-content: center;
  font-family: "Vend Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  align-items: center;
}

.innerbox2 {
  width: 100%;
  margin: 5px;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

#contactlist {
  height: 350px;
  width: 100%;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  min-width: 760px;
}

.fr0 {
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  margin: 20px;
}

.titlei {
  display: flex;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-left: -10px;
}

.fr {
  display: flex;
  justify-content: flex-end;
  padding-right: 0px;
  width: 30px;
  height: 30px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  margin: 20px;
  margin-left: -18px;
  background-color: white;
}

#fr2 {
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#compromise1 {
  display: flex;
  justify-content: flex-start;
}

#compromise2 {
  display: flex;
  justify-content: flex-end;
}

span {
  position: left;
}

#fr3 {
  width: 7vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fr4 {
  display: flex;
  width: 20vw;
  height: 30px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  margin: 20px;
}

.fr-0 {
  display: flex;
  width: 10vw;
  height: 30px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  margin: 20px;
  margin-left: -18px;
  background-color: white;
}

#exfr {
  margin-left: 18px;
}

.statat {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 50px;
}

.sec3cap1 {
  margin-top: 65px;
}

.statgraphic1 {
  width: 70px;
  border-radius: 20px;
  border: solid green 1px;
  height: 25px;
  background-color: #78e760;
  margin-top: 55px;
  margin-left: 23vh;
  display: flex;
  margin-left: auto;
}

@media (max-width: 1280px) {
  .fr-0 {
    width: 128px;
  }
}
@media (max-width: 685px) {
  #sec2 {
    flex-wrap: wrap;
  }
  #compromise2 {
    margin-left: 36px;
  }
}
@media (max-width: 1005px) {
  #fr3 {
    width: 70px;
  }
}
@media (max-width: 812px) {
  #leadstats {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=Style.css.map */